@model AppVendas.Models.Venda

@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex justify-content-between my-5 align-items-center">
    <span class="display-6 w-75 justify-content-center">Editar Venda</span>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VendaId" />
            <div class="form-group">
                <label asp-for="NotaFiscal" class="control-label"></label>
                <input asp-for="NotaFiscal" class="form-control" />
                <span asp-validation-for="NotaFiscal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataVenda" class="control-label"></label>
                <input asp-for="DataVenda" class="form-control" />
                <span asp-validation-for="DataVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalVenda" class="control-label"></label>
                <input asp-for="TotalVenda" class="form-control" />
                <span asp-validation-for="TotalVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-4">

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary d-flex align-items-center px-5 mt-3 w-100 justify-content-center py-3">
                            <ion-icon name="save" class="me-2"></ion-icon> Salvar
                        </button>
                    </div>
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-outline-info d-flex align-items-center px-5 mt-3 w-100 justify-content-center py-3">
                        <ion-icon name="arrow-back" class="me-2"></ion-icon>Voltar
                    </a>
                </div>
            </div>
        </form>

        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
